{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Common CSS and JS links here -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'admin_styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        
    </footer>

     <script>
        (function () {
            const savedTheme = localStorage.getItem('theme') || 'dark';
            document.documentElement.classList.add(savedTheme === 'light' ? 'theme-light' : 'theme-dark');
        })();
    </script>
    <script>
        function setupThemeToggle() {
            console.log("Theme toggle called");
            const themeToggle = document.getElementById('themeToggle');

            if (themeToggle) {
                const savedTheme = localStorage.getItem('theme');

                if (savedTheme === 'light') {
                    document.body.classList.remove('theme-dark');
                    document.body.classList.add('theme-light');
                } else {
                    document.body.classList.add('theme-dark');
                    document.body.classList.remove('theme-light');
                    localStorage.setItem('theme', 'dark');
                }

                themeToggle.addEventListener('click', () => {
                    document.body.classList.toggle('theme-dark');
                    document.body.classList.toggle('theme-light');
                    localStorage.setItem('theme', document.body.classList.contains('theme-light') ? 'light' : 'dark');
                });
            }
        }

        setupThemeToggle();
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>